
<h2 style ="color: rgb(107, 172, 11); text-align: center;">List all house</h2>
<table border="4">
    <thead class="thead-dark">
        <tr><th>Name</th>
        <th>Region</th>
        <th>Founded</th>
        <th>CoatOfArms</th>
        <!-- <th>Name</th> -->
        <th>Titles</th>
        <th>Overlord</th>
        <!-- <th>founded</th> -->
        <th>founder</th>
        <th>Url</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor = 'let user of getData'>
        <td>{{user.name}}</td>
        <td>{{user.region}}</td>
        <td>{{user.founded}}</td>
        <td>{{user.coatOfArms}}</td>
        <!-- <td>{{user.name}}</td> -->
        <td>{{user.titles}}</td> 
       <td>{{user.overlord}}</td>
       <!-- <td>{{user.founded}}</td> -->
        <td>{{user.founder}}</td> 
        <!-- <td>{{user.tvSeries}}</td> -->
        <td>{{user.url}}</td>

    </tr>
    </tbody>
</table> 
